* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.pagamento {
    border: solid 2px black;
    background-color: purple;
     padding: 20px; 
    margin: 1%;
    color: white;
    position: relative;
    flex-basis: calc(100% / 6 - 2%);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.delete {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}